

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html{
    scroll-behavior: smooth;
}

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298);
    --color-primary:#47B5FF; 
    --color-secondary:#764ba2;
    --boton-padding: 20px 40px;
    
} 

body{
font-size: 20px !important;
}


.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle{
    color:var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.subtitle-3{
    color:var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 80px;
}

.subtitleProy{
    color:var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 70px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('../img/img2.jpg');   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    object-fit: cover;
}



.check{
    position: relative;
    width: 50px;
}

.check:before{
    content: '';
    position:  absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:after{
    content: '';
    position:  absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
    border: 2px solid #00a1ff;;
}

.check:checked:before{
    background: #00a1ff;
    
}

.hero  .container{
    padding: 0;
}




.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px solid #fff;
}





.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin: bottom 50px; ;
}

.hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__wave{
    position: absolute;
   bottom: 0%;
   left: 0%;
   width: 100%;
   height: 100px;
}


.hero__cta{
    display: inline-block;
    background-color: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;

    
}

/*About*/

.presentation{
    text-align: center;
    padding: 5%;
}

.presentation__picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 0px 22px var(--color-primary);
    

}

.presentation__picture:hover{
    border-color: var(--color-secondary) ;
    box-shadow: 0px 0px 80px var(--color-primary);
    transition: all 0.5s;
}

.presentation__copy{
    width: 80%;
    margin: 0% auto;
}

.presentation__cta{
    margin-top: 30px;
    display: inline-block;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.presentation__cta:hover{
    background-color: #EEE;
    transition: 1s;
    color: var(--color-primary);
}

.about{
    min-height: 400px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*projects*/

.main {
    height: 100vh;
    width: 100%;
  }
  .wrapper,
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slide {
    overflow: hidden;
  }
  .slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  .slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slide .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
  }
  .image-data span.text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  .image-data h2 {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
  }
  a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #333;
    background: #fff;
    text-decoration: none;
    margin-top: 25px;
    transition: all 0.3s ease;
  }
  a.button:hover {
    color: #fff;
    background-color:var(--color-primary);
  }
  
  /* swiper button css */

  .swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;
  }
  .swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: var(--color-primary);
  }
  
  @media screen and (max-width: 768px) {
    .nav-btn {
      visibility: hidden;
    }
    .swiper-pagination-bullet {
      visibility: visible;
    }

    .image-data h2{
        font-size: 30px;
    }
  }


/*Responsive design*/

@media screen and (max-width: 800px){
    :root{
    --boton-padding: 18px 40px;
}

.hero__wave{
   visibility: hidden;
}


.nav{
    justify-content: space-around;
}

.nav__items--cta{
    border: none;
}


.nav__items{
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0%;
}

.hero__texts{
    width: 100%;
    margin-bottom: 80px;
}

.hero__title{
    font-size: 2.5rem;

}

.hero__subtitle{
    font-size: 1.5rem;
}

/*About*/

.presentation__copy{
    width: 100%;

}

.about{
    grid-template-columns: 1fr;
}

.about.container{
    padding-top: 30px;
}

.about__img--left{
    text-align: center;
}

.about__texts:last-child{
    grid-row: 3/4;
}



    /*About*/

    .presentation__picture{
        width: 120px;
        height: 120px;
    }

    .about{
        row-gap: 60px;
    }

    .about.container{
        padding-top: 10px;
    }

}